/* Variables */
:root{
    --primary: #549950;
    --secondary: #126408;
    --terciary: #4B8948;
    --gray: #8E9297;
    --light-gray: #F0F0F0;
    --extra-light-gray: #F7F7F7;
    --black: #000000;
    --white: #FFFFFF;
}

/* Globals */

html{
    font-size: 62.5%;
    font-family: Monospaced, Arial, "Times New Roman", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--extra-light-gray);
}

label{
    color: var(--black);
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 10px;
}
input[type="file"]{
    width: 100%;
    height: 34px;
    margin: 10px auto 10px 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],.select2-multiple,input[type="date"], .largo,
select{
    width: 100%;
    height: 100%;
    margin: 10px auto 10px 0;
    vertical-align: middle;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--light-gray);
    padding: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
}


input[type="time"],.acortado{
    width: 30%;
    height: 80%;
    margin: 10px auto 10px 0;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--light-gray);
    padding: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
}

select option{
    background-color: var(--light-gray);
    color: var(--gray);
    font-size: 1.5rem;
}

input[type="text"]:focus,input[type="date"]:focus,
select:focus{
    outline: 2px solid var(--gray);
}
input[type="time"]:focus{
    outline: 2px solid var(--gray);
}

.table{
    width: 100%;
    margin: 10px auto;
    table-layout: fixed;
}

.table form{
    display: inline;
}

.table td{
    font-size: 1.3rem;
    text-align: center;
}

.table.table-green th{
    background-color: var(--terciary);
    color: var(--white);
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 5px solid var(--secondary);
}

.table.table-green td{
    border-bottom: 1px solid var(--primary);
}

.table.table-green{
    background-color: rgba(60, 160, 55, 0.03);
}

.formlabel{
    font-size: 15px;
    margin-bottom:-10px
}
.btnplus{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:0;
    cursor: pointer
}
.btnplus:hover .icon{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

/* materias */
#table-materias {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #table-materias td, #table-materias th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table-materias tr:nth-child(even){background-color: #f2f2f2;}

  #table-materias tr:hover {background-color: #ddd;}

  #table-materias th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  /* historial-academico */
#table-historial-academico {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #table-historial-academico td, #table-historial-academico th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table-historial-academico tr:nth-child(even){background-color: #f2f2f2;}

  #table-historial-academico tr:hover {background-color: #ddd;}

  #table-historial-academico th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/* capacitaciones */
#table-capacitaciones {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #table-capacitaciones td, #table-capacitaciones th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #table-capacitaciones tr:nth-child(even){background-color: #f2f2f2;}

  #table-capacitaciones tr:hover {background-color: #ddd;}

  #table-capacitaciones th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

/* Utilities */
.main-container{
    margin: 0 auto;
    width: 90%;
    min-height: 75vh;
    height: auto;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 0 10px 15px var(--light-gray);
}

.tabs{
    display: block;
}

.tabs button{
    padding: 5px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--secondary);
    border-radius: 5px;
    transition: all 300ms;
    border-bottom: 3px solid var(--secondary);
}

.tabs button:hover{
    background-color: var(--primary);
    color: var(--white);
    animation: expand-button 300ms both;
    cursor: pointer;
}

.input-columns-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input-columns-1 div{
    width: 51%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.input-columns-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input-columns-2 div{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.contenedor-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contenedor-2col > div {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

  }

  UL.col2
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col2 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 50%;
PADDING-TOP: 2px;
}

UL.col4
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 80%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col4 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 25%;
PADDING-TOP: 0px;
}


UL.col5
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col5 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 20%;
PADDING-TOP: 2px;
}


UL.col6
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col6 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 16.6%;
PADDING-TOP: 2px;
}

UL.col8
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col9
{
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
FLOAT: left;
PADDING-BOTTOM: 0px;
MARGIN: 15px 0px;
WIDTH: 100%;
PADDING-TOP: 0px;
LIST-STYLE-TYPE: none
}

UL.col8 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 12.5%;
PADDING-TOP: 2px;
}

UL.col9 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 11.11%;
PADDING-TOP: 2px;
}

.form-screen-title{
    font-size: 2.6rem;
    margin: 10px 0;
}

.tab--title{
    color: var(--black);
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 5px solid var(--terciary);
    padding-bottom: 10px;
}


.d-none{
    display: none;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 10px;
}

.mb-2{
    margin-bottom: 20px;
}

.text-green{
    color: var(--primary)!important;
}

/* Header */

header{
    width: 100%;
    height: 150px;
}

/* Header */

.header--icons{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--icons div:first-child{
    width: 50%;
    height: 100%;
}

.header--icons div:last-child{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header--icons--logos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--icons--logos img{
    margin-right: 50px;
    width: 70px;
}

#udemex-logo-with-filter{
    height: 35px;
}

.header--icons--title{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.header--icons--title span{
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
}

.header--user-data{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    background-color: var(--light-gray);
}

.header--user-data div:first-child span{
    margin-left: 10px;
    margin-right: 20px;
    color: var(--gray);
    font-weight: 600;
    font-size: 1.2rem;
}

.header--user-data button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--gray);
}

.header--user-data svg{
    margin-right: 3px;
}

.header--user-data button:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Navbar */

.header--navbar{
    height: 35px;
    width: 98%;
    list-style: none;
    display: flex;
    background-color: var(--primary);
}

.header--navbar > li{
    height: 100%;
}

.header--navbar > li > a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 400ms;
}

.header--navbar > li > a:hover{
    background-color: var(--primary);
}

.header--navbar > li:first-child > a{
    padding: 0 5px;
    background-color: var(--primary);
}

.header--navbar > li:first-child > a:hover{
    background-color: var(--secondary);
}

.header--navbar img{
    height: 35px;
}

header div:last-child{
    display: flex;
}

#header--navbar--button{
    width: 2%;
    background-color: var(--terciary);
    color: white;
    border: 0.5px solid var(--secondary);
    transition: all 500ms;
}

#header--navbar--button:hover{
    cursor: pointer;
    background-color: var(--secondary);
}

.header--navbar #teachers-dropdown{
    position: relative;
    border: none;
    background-color: var(--secondary);
    height: 100%;
    color: white;
    transition: all 300ms;
    padding: 0 10px;
}

.header--navbar #teachers-dropdown:hover{
    background-color: var(--primary);
}

.header--navbar #teachers-dropdown:hover > ul{
    display: block;
}

.header--navbar #teachers-dropdown > ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
}

.header--navbar #teachers-dropdown > ul > li{
    display: block;
    width: 100%;
}

.header--navbar #teachers-dropdown > ul > li > a{
    display: block;
    padding: 10px 5px;
    width: 100%;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: var(--secondary);
    color: white;
    transition: all 300ms;
}

.header--navbar #teachers-dropdown > ul > li > a:hover{
    background-color: var(--primary);
}

.header--navbar #teachers-dropdown:hover{
    background-color: var(--primary);
}

/* */

/* Footer */

footer{
    display: none;
}

@media (min-width: 820px) {
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 50px;
        background-color: var(--gray);
        display: flex;
        padding: 5px 150px;
        justify-content: space-between;
        align-content: center;
    }
}


footer h5, footer h6{
    color: var(--light-gray);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 40px;
}

/* welcome page */

.welcome-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-admin{
    min-height: 100%;
    height: 70vh;
}

.welcome--image-container{
    text-align: center;
}

.welcome--divisor-line{
    background-color: #3CA037;
    width: 30%;
    height: 10px;
    border-radius: 0 0 25px 25px;
}

.welcome--divisor-line-inverse{
    background-color: #3CA037;
    width: 60%;
    height: 10px;
    border-radius: 25px 25px 0 0;
}

.welcome-container h1{
    font-weight: bold;
    font-size: 3rem;
    margin: 20px auto;
}

.welcome--module-container{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 10px solid var(--secondary);
    border-bottom: 10px solid var(--secondary);
    border-radius: 25px 0 25px 0;
    height: 250px;
}

.welcome--module-container > a{
    background-color: rgba(60, 160, 55, 0.05);
    width: 20%;
    margin: 0 10px;
    height: 80%;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 1px var(--terciary);
    transition: all 300ms;
    text-decoration: none;
}

.welcome--module-container > a > svg{
    width: 50px;
    height: 50px;
    color: var(--secondary);
}

.welcome--module-container > a > h3{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary);
}

.welcome--module-container > a:hover{
    color: var(--white);
    background-color: var(--secondary);
    animation: expand 300ms both;
}

.welcome--module-container > a:hover > svg{
    animation: from-top 300ms both;
    color: white;
}

.welcome--module-container > a:hover > h3{
    animation: from-left 300ms both;
    color: white;
}

/* Perfil */

.profile-container{
    padding: 20px;
    display: flex;
}

.profile-container--personal-information{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70vh;
    max-height: 80vh;
    border-right: 5px solid var(--secondary);
}

.personal--information-image{
    background-color: var(--light-gray);
    box-shadow: 1px 1px 5px 1px var(--light-gray);
    padding: 10px;
    width: auto;
    margin: 0 auto;
}

.profile-container--personal-information img{
    width: 150px;
    height: 150px;
}

.personal--information-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 70%;
}

.personal--information-info div:first-child > h6{
    color: var(--gray);
}

.personal--information-info h6{
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.personal--information-info span{
    font-size: 1.4rem;
    color: var(--gray);
    font-weight: bold;
}

.profile-container--profesional-information{
    width: 75%;
    text-align: center;
}

.profile-container--profesional-information h2{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 50px;
    color: red;
}

/* Animations */
@keyframes expand-button {
    from{
        transform: scale(1);
        font-weight: normal;
    }

    to{
        transform: scale(1.1, 1.1);
        /*font-weight: bold;*/
    }
}

.invalid-feedback {
    color: red;
    font-size: 14px;
}

.btn-primario {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 10px auto 10px 40%;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.btn-primario:hover {
    background-color: var(--secondary);
     cursor: pointer;
}

.btn{
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 3px;
    transition: all 300ms;
    margin: 5px auto;
}

.btn-primary-outline{
    background-color: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.btn-primary-outline:hover{
    background-color: var(--secondary);
    color: white;
}
.btn-danger-outline{
    background-color: var(--secondary);
    color: var(--white);
    border: 1px solid var(--white);
}

.btn-danger-outline:hover{
    background-color: var(--gray);
    color: var(--secondary);
}


.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.alert {
    display:block;
    height: auto;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;

}

.alert-info{
    background-color: #5499506e;
    color:#126408;
}


.alert-info h6{
    font-size: 2rem;
    margin-bottom: 10px;
}

.alert-info p{
    font-size: 1.2rem;
}

.text-foto{
    font-size: 1.2rem;
}

.conte {
    width: 100%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 60%;
    height: auto;
}

.alert-info2{
    background-color: #5499506e;
    color:#126408;
    display: flex;
    justify-content: center;
    width: 30%;
}

.alert-info2 p{
    font-size: 1.2rem;
}
.fotoperfil{
    border-radius:25%;
    -webkit-border-radius:25%;
    box-shadow: 0 0 15px 15px #d1d3d6;
    -webkit-box-shadow: 0 0 15px 15px #d1d3d6;
    width: 120px;
    height: 120px;
}

/* Admin Modules */

    /* Teachers index */
#teachers--title{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
}

@keyframes from-top {
    from{
        transform: translateY(-200%);
    }

    to{
        transform: translateY(0%);
    }
}

@keyframes from-left {
    from{
        transform: translateX(-200%);
    }

    to{
        transform: translateX(0%);
    }
}

@keyframes expand {
    from{
        transform: scale(1, 1);
    }

    to{
        transform: scale(1.1, 1.1);
    }
}

