/* Variables */
:root{
    --primary: #549950;
    --secondary: #126408;
    --terciary: #4B8948;
    --gray: #8E9297;
    --light-gray: #F0F0F0;
    --extra-light-gray: #F7F7F7;
    --black: #000000;
    --white: #FFFFFF;
}

/* Globals */

html{
    font-size: 62.5%;
    font-family: Monospaced, Arial, "Times New Roman", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--extra-light-gray);
}

label{
    color: var(--black);
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 10px;
}
input[type="file"]{
    width: 80%;
    height: 34px;
    margin: 10px auto 10px 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"],.select2-multiple,
select{
    width: 80%;
    height: 80%;
    margin: 10px auto 10px 0;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--light-gray);
    padding: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
}

input[type="time"]{
    width: 30%;
    height: 80%;
    margin: 10px auto 10px 0;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: var(--light-gray);
    padding: 5px;
    vertical-align: middle;
    font-size: 1.5rem;
}

select option{
    background-color: var(--light-gray);
    color: var(--gray);
    font-size: 1.5rem;
}

input[type="text"]:focus,
select:focus{
    outline: 2px solid var(--gray);
}
input[type="time"]:focus{
    outline: 2px solid var(--gray);
}

/* Utilities */
.main-container{
    margin: 0 auto;
    width: 90%;
    min-height: 75vh;
    height: auto;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 0 10px 15px var(--light-gray);
}

.tabs{
    display: block;
}

.tabs button{
    padding: 5px;
    margin-right: 15px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: var(--secondary);
    border-radius: 5px;
    transition: all 300ms;
    border-bottom: 3px solid var(--secondary);
}

.tabs button:hover{
    background-color: var(--primary);
    color: var(--white);
    animation: expand-button 300ms both;
    cursor: pointer;
}

.input-columns-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.input-columns-2 div{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.contenedor-2col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contenedor-2col > div {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

  }

  UL.col2
{
PADDING-RIGHT: 0;
PADDING-LEFT: 0;
FLOAT: left;
PADDING-BOTTOM: 0;
MARGIN: 15px 0;
WIDTH: 100%;
PADDING-TOP: 0;
LIST-STYLE-TYPE: none
}

UL.col2 LI
{
PADDING-RIGHT: 2px;
DISPLAY: inline;
PADDING-LEFT: 2px;
FLOAT: left;
PADDING-BOTTOM: 2px;
WIDTH: 50%;
PADDING-TOP: 2px
}

.form-screen-title{
    font-size: 2.6rem;
    margin: 10px 0;
}

.tab--title{
    color: var(--black);
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 5px solid var(--terciary);
    padding-bottom: 10px;
}


.d-none{
    display: none;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 10px;
}

.mb-2{
    margin-bottom: 20px;
}

/* Header */

header{
    width: 100%;
    height: 150px;
    background-color: var(--white);
}

/* Header */

.header--icons{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--icons div:first-child{
    width: 50%;
    height: 100%;
}

.header--icons div:last-child{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header--icons--logos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header--icons--logos img{
    margin-right: 50px;
    width: 70px;
}

#udemex-logo-with-filter{
    height: 35px;
}

.header--icons--title{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.header--icons--title span{
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
}

.header--user-data{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
    background-color: var(--light-gray);
}

.header--user-data div:first-child span{
    margin-left: 10px;
    margin-right: 20px;
    color: var(--gray);
    font-weight: 600;
    font-size: 1.2rem;
}

.header--user-data button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--gray);
}

.header--user-data svg{
    margin-right: 3px;
}

.header--user-data button:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Navbar */

.header--navbar{
    height: 35px;
    width: 98%;
    list-style: none;
    display: flex;
    background-color: var(--primary);
}

.header--navbar li{
    height: 100%;
}

.header--navbar li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: var(--secondary);
    color: var(--white);
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 400ms;
}

.header--navbar li a:hover{
    background-color: var(--primary);
}

.header--navbar li:first-child a{
    padding: 0 5px;
    background-color: var(--primary);
}

.header--navbar li:first-child a:hover{
    background-color: var(--secondary);
}

.header--navbar img{
    height: 35px;
}

header div:last-child{
    display: flex;
}

#header--navbar--button{
    width: 2%;
    background-color: var(--terciary);
    color: white;
    border: 0.5px solid var(--secondary);
    transition: all 500ms;
}

#header--navbar--button:hover{
    cursor: pointer;
    background-color: var(--secondary);
}

/* */

/* Footer */

footer{
    display: none;
}

@media (min-width: 820px) {
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 50px;
        background-color: var(--gray);
        display: flex;
        padding: 5px 150px;
        justify-content: space-between;
        align-content: center;
    }
}


footer h5, footer h6{
    color: var(--light-gray);
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 40px;
}

/* Animations */
@keyframes expand-button {
    from{
        transform: scale(1);
        font-weight: normal;
    }

    to{
        transform: scale(1.1, 1.1);
        /*font-weight: bold;*/
    }
}

/* Table Anex Grid */

.table{
    width: 85%;
    margin: 0 auto;
    border-radius: 7px;
    border-spacing: 0;
}

.table tr:first-child, .table tr:first-child th{
    background-color: var(--primary);
}

.table tr:first-child{
    height: 30px;
}

.table a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    height: 100%;
    width: auto;
    margin: 0 auto;
    display: block;
    transition: all 500ms;
}

.table a:focus{
    color: var(--secondary);
}

td.danger.text-center{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

#export{
    background-color: var(--white);
    border: 2px solid var(--secondary);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 5px;
    color: var(--secondary);
    padding: 10px 15px;
    position: fixed;
    bottom: 10%;
    right: 7%;
    display: flex;
    align-items: center;
    transition: all 400ms;
}

#export:hover{
    color: white;
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
}
